{% extends 'template.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Livraison Liste</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numl</th>
                <th>Observation</th>
                <th>Totht</th>
                <th>Tottva</th>
                <th>Totttc</th>
                <th>Dateliv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.numl }}</td>
                <td>{{ livraison.observation }}</td>
                <td>{{ livraison.totht }}</td>
                <td>{{ livraison.tottva }}</td>
                <td>{{ livraison.totttc }}</td>
                <td>{{ livraison.dateliv }}</td>
                <td>
                    <a href="{{ path('livraison_show', {'id': livraison.id}) }}">show</a>
                    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}">Create new</a>
{% endblock %}
